*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    width: auto;
}
/* --------------------------------------------HEADER INDEX--------------------------------------------------- */
header{
    width: auto;
}
#inicio .navbar{
    background: black;
    width: auto;
    padding: 15px;
}

#inicio .navbar p{
    color: white;
    font-size: 26px;
    margin: 1px 10px 1px auto;
    font-family:'Times New Roman', Times, serif;
}
#inicio .navbar p:hover{
    color: black;
    transition: 1.2s;
}

#inicio .navbar .navbar-brand{
    color: snow;
    font-size: 20px;
    /* font-weight: bold; */
    font-family: 'Times New Roman', Times, serif;
    /* text-shadow: 1px 4px 1px blue; */

}
#inicio .navbar .navbar-brand:hover{
    font-weight: bold;
    transform: scale(1.1);
}
#inicio .navbar .nav-item{
    font-size: 20px;
    /* font-weight: bold; */
    font-family: 'Times New Roman', Times, serif;
    
}
#inicio .navbar .nav-item .nav-link{
    color: snow;
    /* text-shadow: 1px 4px 1px blue; */
}
#inicio .navbar .nav-item .nav-link:hover{
    font-weight: bold;
    transform: scale(1.1);
}

#inicio main h1{
    color:black;
    font-family: 'Bungee Shade', cursive;
    background: white;
    margin: 5px auto 10px auto;
    font-size: 72px;
    text-align: center;
}
/*--------------------------------------------MAIN INDEX------------------------------------------*/
#inicio main{
    /* background-image: url(../imagenes/clippings.jpg); */
    width: auto;
}

#inicio main p{
    color: black;
    background:	#ffe4c469 ;
    font-size: 18px;
    padding: 35px;
    margin: 5px 1px;
    text-align: right;
    font-weight:lighter;
}
#inicio main p span {
    font-style: oblique;
    font-weight: bold;
    font-size: 14px;
}

#inicio #carouselExampleControls{
    margin: 25px 100px;
    width: auto;
    height: 550px;
    overflow: hidden;
    box-shadow: 2px 6px 5px black;
    border-radius: 20px;
}
#inicio #carouselExampleControls:hover{
    transform: scale(1.03);
    transition: 1.2s;
}
#inicio section {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(1, auto);
    margin: 10px 1px;
    background: black;
}
#inicio section .card {
    width: 300px;
    height: 520px;
    margin: 10px 10px;
    padding: 15px;
    box-shadow: 1px 1px 1px 1px silver;
    grid-column: 1/2;
    grid-row: 1/2;
}
#inicio section .card1 {
    width: 300px;
    margin: 10px 10px;
    padding: 15px;
    box-shadow: 1px 1px 1px 1px silver;
    grid-column: 3/4;
    grid-row: 1/2;
    background: snow;
}

#inicio section .news p {
    grid-column: 2/3;
    grid-row: 1/2;
    font-size: 50px;
    color: snow;
}

#inicio section .news p span {
    font-family: 'Amatic SC', cursive;
    font-size: 38px;
}
#inicio section .news .dos {
    font-size: 28px;
}

#inicio section .declaracion p{
    font-size: 26px;
    font-weight: lighter;
    color: snow;
}


   /*----------------------------------------FOOTER INDEX----------------------*/ 
#inicio footer{
    background:none;
    margin: 1px 1px;
    padding: 15px;
}

#inicio footer p{
    margin: 15px auto;
    font-size: 15px;
    text-align: center;
    font-weight: bold;
    color: black;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}

/*----------------------------------------------------CLASES PARA JS-------------------------- */

.verde{
    color: green;
}
.azul{
    color: blue;
}
.rojo{
    color: red;
}

.blanco{
    color: white;
}

/*----------------------------------- PAGINA DE PARTICIPAR---------------------------------*/

section p{
    color: black;
    font-family: 'Times New Roman', Times, serif;
    font-size: 16px;
    margin: 10px 10px;
}



/*--------------------------------------------------MAIN DE PAGINA FESTIVAL 2023----------------------------------------*/
#pagina-festival {
    background-image: url(../imagenes/noSignaltv.jpg);
}

#pagina-festival .navbar{
    background: none;
     width: auto;
 }
 
 #pagina-festival .navbar .navbar-brand{
     color: snow;
     font-size: 24px;
     /* font-weight: bold; */
     font-family: 'Times New Roman', Times, serif;
     padding: 5px;
 }

#pagina-festival main {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 5fr);
 
}

#pagina-festival footer{
    background: none;
    width: auto;
    margin: 1px auto 1px auto;
    padding: 10px;
}

#pagina-festival footer p{
    color: white;
    font-size: 24px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    text-align: center;
    background:none;
}


/*--------------------------------- PAGINA DE PARTICIPAR----------------------------------*/

#participar-index {
    width: auto;
}
#participar-index header {
    margin: 1px auto 1px auto;
}

#participar-index .navbar{
    background: none;
     width: auto;
 }
 
 #participar-index .navbar .navbar-brand{
     color: black;
     font-size: 22px;
     font-family: 'Times New Roman', Times, serif;
     margin: 1px auto 4px 5px;
 }
 #participar-index .navbar .navbar-brand:hover{

     text-decoration: underline;
 }
 #participar-index header h1{
     text-align: center;
     font-family: 'Pinyon Script', cursive;
     font-size: 75px;
     font-weight: bold;
     margin: 1px auto;
     text-decoration: underline;
 }

 #participar-index main{
     width: auto;
 }
/*-----------------------------------------FORMULARIO-----------------------------------*/
#participar-index #archivo{
    margin: 10px auto 1px auto;
}
#participar-index #formulario{
    margin: 15px auto 1px auto;
    padding: 10px;
    border-radius: 10px;
    color: white;
    width: 500px;
}
#participar-index .form-floating .form-select {
    margin: 15px auto 5px auto;
    padding: 5px;
 
}
#participar-index label {
    color: black;
}

#participar-index #btn {
    background: black;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    width: auto;
    margin: 10px auto;
    padding: 6px;
    color: white;
}

#participar-index footer {
    margin: 1px auto 1px auto;
    width: auto;
}
#participar-index footer p {
    color: black;
    text-align: right;
    font-size: 12px;
    font-weight: bolder;
    margin: 5px 5px 4px auto;
    font-family: 'Times New Roman', Times, serif;
}

#participar-index section p{
    color: black;
    text-align: center;
    margin: 5px auto;
}


/*-------------------------------------------PAGINA DE ENTRADAS--------*/
#inicio-entradas {
    background: black;
    width: auto;
}
/* #inicio-entradas .navbar{
    width: auto;
} */
#inicio-entradas header h1{
    text-align: center;
}

#inicio-entradas .navbar .navbar-brand{
    color: white;
    font-size: 21px;
    font-family: 'Times New Roman', Times, serif;
}

#inicio-entradas .navbar .navbar-brand:hover{
    text-decoration: underline;
}
#inicio-entradas main {
    margin: 1px 1px;
}

#inicio-entradas footer {
    text-align: right;
}
#inicio-entradas footer p {
    margin: auto 5px;
    font-style:italic;
    font-size: 15px;
    color: white;
}

.entradas{
    color: white;
    margin: 1px 1px;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    display: inline;
}
#entradas h2{
    text-decoration: underline;
    font-weight:bold;
    font-size: 28px;
    margin: 1px 1px;

}
.entradas h5 {
    font-size: 17px;
    color: snow;
    font-weight: lighter;
    margin: 2px 1px;
}
