*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    width: auto;   
    background-image: url(../imagenes/paint\ \(2\).jpg);
}
/* --------------------------------------------HEADER--------------------------------------------------- */
header{
    width: auto;
}
.navbar{
   background: #000;
    width: auto;
   
}
.navbar .navbar-brand{
    color: snow;
    font-size: 18px;
    font-weight: bold;
}
.navbar .nav-item{
    font-size: 18px;
    font-weight: bold;
}
.navbar .nav-item .nav-link{
    color: snow;
}
.navbar .nav-item .nav-link:hover{
    color: gold;
    text-decoration: underline;
}
.btn-outline-success{
    color: white;
    border-color: yellow;
}
.btn-outline-success:hover{
    background: yellow;
    color: black;
   
}

header h1{
    background: yellow;
    color: black;
    text-align: center;
    font-size: 62px;
    font-family: 'Times New Roman', Times, serif ;
    font-weight: bold;
    margin: 5px auto 5px auto;
}
/*--------------------------------------------MAIN CONTENT------------------------------------------*/
main{
    /* background-image: url(../imagenes/fondoMain\ \(2\).jpg); */
    width: auto;
    margin: 5px 10px;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(3, auto);
}
main h2{
    color: black;
    background: yellow;
    font-size: 35px;
    font-weight: bolder;
    text-align: center;
    margin: 1px auto 5px auto;
    font-family: 'Times New Roman', Times, serif;
    grid-column: 2/6;
    grid-row: 1/2;
}

/* main li{
    font-size: 25px;
    margin: 1px auto 1px 10px;
    color: red;
}
main li p{
    color:blue;
    font-size:23px;
}
main li b{
    color: black;
    font-size: 23px;
} */

#carouselExampleSlidesOnly1{
    width: auto;
    grid-column: 2/6;
    grid-row: 2/3;
    margin: 1px auto 10px auto;    
 }

/*--------------------------------------------------SECTION----------------------------------------*/
section{
    width: auto;   
    /* background-image: url(../imagenes/fondoMain\ \(2\).jpg); */
    background: white;
    display: grid;
    /* grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, auto); */
}
section h2 {
    background: yellow;
    color: black;
    text-align: center;
    font-size: 52px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bolder;
    margin: 10px auto 5px 5px;
    /* grid-column: 2/3;
    grid-row: 1/2; */
}

#carouselExampleSlidesOnly{
    width: 430px;
    grid-row: 2/3;
    margin: 1px auto 10px auto;
 }

 section .card {
    width: 300px;
    margin: 10px auto 20px auto;
    box-shadow: 1px 1px 10px yellow;
    border-radius: 10px;
    grid-column: 1/2;
    grid-row: 2/3;
    justify-content: center;
}
section .card1 {
    width: 300px;
    margin: 10px auto 20px auto;
    box-shadow: 1px 1px 10px yellow;
    border-radius: 10px;
    grid-column: 2/3;
    grid-row: 2/3;
}
section .card3 {
    width: 300px;
    margin: 10px auto 20px auto;
    box-shadow: 1px 1px 10px yellow;
    border-radius: 10px;
    grid-column: 3/4;
    grid-row: 2/3;
}
section .card4 {
    width: 300px;
    margin: 10px auto 20px auto;
    box-shadow: 1px 1px 10px yellow;
    border-radius: 10px;
    grid-column: 1/2;
    grid-row: 3/4;
}
section .card5 {
    width: 300px;
    margin: 10px auto 20px auto;
    box-shadow: 1px 1px 10px yellow;
    border-radius: 10px;
    grid-column: 2/3;
    grid-row: 3/4;
}
section .card6 {
    width: 300px;
    margin: 10px auto 20px auto;
    box-shadow: 1px 1px 10px yellow;
    border-radius: 10px;
    grid-column: 3/4;
    grid-row: 3/4;
}

#formulario input{
    display: flex;
    margin: 5px auto 5px 10px;
}
/*----------------------------------------------FOOTER-------------------------------------------------*/

footer{
    background: black;
    width: auto;
    /* margin: 10px 1px 1px 1px; */

}
.pie p{
    margin: 2px auto 2px auto;
    font-size: 28px;
    text-align: center;
    color: yellow;
    font-family: 'Barrio', cursive;
}

/*----------------------------------------------------CLASES PARA JS-------------------------- */

.verde{
    color: green;
}
.azul{
    color: blue;
}
.rojo{
    color: red;
}










