*{
    margin: 1px;
    padding: 1px;
}

body {
    width: auto;
    background-image: url(./imagenes/rollo.jpg);
}

h1 {
    font-size: 92px;
    color: greenyellow;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}